name: Docker-Destkop-Installer

on:
  workflow_dispatch:
  #  inputs:
  #    binvern:
  #      description: '指定Zig版本号(如0.15.2,不填则使用最新版本)'
  #      required: false
  #      type: string
  schedule:
    - cron: '0 3 * * *'  # 每天凌晨3点自动执行(使用最新版本)

permissions:
  contents: write

jobs:
  sync_binaries:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取仓库代码
        uses: actions/checkout@v4

      - name: Download installers
        run: |
          curl -o linux.sh "https://get.docker.com"
          curl -o docker_desktop_installer_windows_amd64.exe "https://desktop.docker.com/win/main/amd64/Docker%20Desktop%20Installer.exe"
          curl -o docker_desktop_installer_windows_arm64.exe "https://desktop.docker.com/win/main/arm64/Docker%20Desktop%20Installer.exe"
          curl -o docker_desktop_installer_mac_amd64.dmg     "https://desktop.docker.com/mac/main/amd64/Docker.dmg"
          curl -o docker_desktop_installer_mac_arm64.dmg     "https://desktop.docker.com/mac/main/arm64/Docker.dmg"
          curl -o docker_desktop_installer_debian_amd64.deb  "https://desktop.docker.com/linux/main/amd64/docker-desktop-amd64.deb"
          curl -o docker_desktop_installer_fedora_amd64.rpm  "https://desktop.docker.com/linux/main/amd64/docker-desktop-amd64.rpm"
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: ${{ github.workspace }}/*.{gz,exe,dmg,deb,rpm,sh}
